<!-- GR-PAGE EDIT ACCOUNT -->

<ion-view view-title="Edit my account">
<ion-nav-bar class="bar-stable" align-title="left">
<ion-nav-buttons side="secondary">

</ion-nav-buttons>
</ion-nav-bar>
<ion-content>

    <div class="card gate">
      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Company Name</span><input type="text" placeholder="">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Address</span><input type="text" placeholder="">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Phone Number</span><input type="number" placeholder="">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Website</span><input type="text" placeholder="">
        </label>
      </div>

      <div class="card gate cta">
        <button onclick="window.location.href='#/tab/dash-2'" class="button button-block button-stable button-cta">Save details</button>
      </div>
    </div>

</div>




</ion-content>
</ion-view>
