<!-- GR-PAGE ACCOUNT -->

<ion-view view-title="My Account">
<ion-nav-bar class="bar-stable" align-title="left">
<ion-nav-buttons side="secondary">
<!--
<button class="button" ui-sref="tab.settings">
 <a ui-sref="tab.settings">
   <i class="icon ion-plus-circled"></i>
   New
 </a>
</button>
-->
</ion-nav-buttons>
</ion-nav-bar>
<ion-content>


<!-- <ion-list>
<ion-toggle ng-model="settings.enableFriends">Enable</ion-toggle>
</ion-list>
-->



<div class="list card account">

  <div class="item item-avatar item-button-right">
    <img src="img/fixie.png">
    <button class="button button-stable">
      <i class="icon ion-edit"></i>
    </button>
  </div>

  <div class="list">
    <div class="item item-button-right">
      <small>Company name</small>
      <p class="content">
        Fixie Lott
      </p>
      <small>
        Address
      </small>
      <p class="content">
        36 NORHYRST AVENUE
      </p>
      <small>
        Phone Number
      </small>
      <p class="content">
        02087715635
      </p>
      <small>
        Website
      </small>
      <p class="content">
        droom.name
      </p>
      <button class="button button-stable">
        <i class="icon ion-edit"></i>
      </button>
    </div>

    <div class="item item-button-right">
      <small>Default Currency</small>
      <p class="content">
        MYR
      </p>
      <small>Default GST Value</small>
      <p class="content">
        6
      </p>
      <small>Company registration number</small>
      <p class="content">
        C12341-22
      </p>
      <small>GST registration number</small>
      <p class="content">
        GST-2341
      </p>
      <button class="button button-stable">
        <i class="icon ion-edit"></i>
      </button>
    </div>


  </div>





</div>




</ion-content>
</ion-view>
