<!-- GR-PAGE CREATE NEW -->

<ion-view view-title="New Receipt">
<ion-nav-bar class="bar-stable" align-title="left">

</ion-nav-bar>
<ion-content>

<div class="card stepper">
  <div class="row stepper">
    <a href="#/tab/dash" class="col col-33">ITEMS</a>
    <a href="#/tab/dash-2" class="col col-33 active">RECIPIENT</a>
    <a href="#/tab/dash-3" class="col col-33">PREVIEW</a>
  </div>
</div>

<div class="card new">
  <div class="list">
    <label class="item item-input item-stacked-label">
      <span class="input-label">Recipient's Name</span>
      <input type="text" placeholder="John">
    </label>
    <label class="item item-input item-stacked-label">
      <span class="input-label">Recipient's Company (Optional)</span>
      <input type="text" placeholder="Suhr">
    </label>
    <label class="item item-input item-stacked-label">
      <span class="input-label">Email</span>
      <input type="text" placeholder="john@suhr.com">
    </label>
  </div>
</div>



<div class="row">
  <div class="col">
  <button onclick="window.location.href='#/tab/dash'" class="button button-stable button-slab">
    &larr; Back
  </button>
  </div>
  <div class="col text-right">
  <button onclick="window.location.href='#/tab/dash-3'" class="button button-stable button-slab button-cta">
    Continue &rarr;
  </button>
  </div>
</div>







</div>



</ion-content>
</ion-view>
