<!-- GR-PAGE EDIT ACCOUNT -->

<ion-view view-title="Upload a new company image">
<ion-nav-bar class="bar-stable" align-title="left">
<ion-nav-buttons side="secondary">

</ion-nav-buttons>
</ion-nav-bar>
<ion-content>

<div class="list card">
<div class="item text-center">
    <img src="img/fixie.png">
  </div>
  <div class="item text-center">
    <button onclick="window.location.href='#/tab/dash-2'" class="button button-stable button-slab button-cta">
      Upload a photo from your device
    </button>
  </div>
</div>
</div>


</ion-content>
</ion-view>
