<!-- GR-PAGE TABS -->

<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <ion-tab title="DEV: Gate" href="#/tab/gate">
    <ion-nav-view name="tab-gate"></ion-nav-view>
  </ion-tab>


  <ion-tab title="My Receipts" icon-off="ion-social-buffer-outline" icon-on="ion-social-buffer" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

  <ion-tab title="New Receipt" icon-off="ion-edit" icon-on="ion-edit" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Account" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


  <ion-tab title="DEV: Profile Edit" href="#/tab/account-edit">
    <ion-nav-view name="tab-account-edit"></ion-nav-view>
  </ion-tab>

  <ion-tab title="DEV: Profile Upload" href="#/tab/account-upload">
    <ion-nav-view name="tab-account-upload"></ion-nav-view>
  </ion-tab>

</ion-tabs>
