@import 'variables.css';

/* Components */
@import 'components/slider.css';
@import 'components/stepper.css';
@import 'components/nav.css';

/* Elements*/
@import 'elements/buttons.css';
@import 'elements/cards.css';
@import 'elements/frame.css';
@import 'elements/images.css';
@import 'elements/lists.css';
@import 'elements/table.css';
@import 'elements/items.css';


hr{
  background: #ddd;
}


.new-receipt{
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}




